/************************************************************
				  NULL STYLE
************************************************************/
@import "_nullstyle";

/************************************************************
                	FONTS
************************************************************/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap');

/************************************************************
                	MIXIN
************************************************************/
@import "_mix-adaptiv-font";

/************************************************************
                	VARIABLES
************************************************************/
$maxWidth: 1170;

/*---Пример использования миксинов-----------------
---1---Миксин адаптива шрифта (размер по макету, размер по 320px)
@include adaptive-font(40,24);
-----------------------------------------------------

//Чтобы заработал ibg
	height: 100%;
	display: block;
	position: relative;

/************************************************************
               		 MAIN CODE
************************************************************/

//------Общие параметры---------------------------------------------
body {
	font-family: "Montserrat", "PT Serif", sans-serif;
	font-size: 16px;
	font-weight: 700;
	background-color: #ffffff;
}

.wrapper {
	overflow: hidden;
	min-height: 100%;
}
//--------------------------------------------------

.page {
	display: flex;
	flex-direction: column;

}
//-----------Технический класс для изображений бэкграунда--------
.ibg {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;

	img {
		display: none;
	}
}
//---------------------------------------------------------------

.container {
	max-width: 1170px;
	margin: 0 auto;
	padding: 0px 15px;
	box-sizing: content-box;
	@media (max-width:1182px) {
		max-width: 970px;
	}
	@media (max-width:992px) {
		max-width: 750px;
	}
}
/************************************************************
               		 HEADER
************************************************************/
.header {

	padding: 35px 0;
	position: relative;
	z-index: 50;

	@media (max-width:992px) {
		padding: 35px 0;
	}

	@media (max-width: 767px) {
		padding: 10px 0;
	}

	&__row {
		display: flex;
		align-items: center;
		
	}

	&__logo {
		flex: 0 1 33.333%;
		position: relative;
		z-index: 6;
		@media (max-width:1182px) {
			flex: 0 1 23%;
		}
		@media (max-width:992px) {
			flex: 0 1 21%;
			img {
				width: 140px;
			}
		}
	}

	&__menu {
		flex: 1 1 66.667%;
	}
}

.menu {

	&__icon {
	}

	&__body {
		@media (max-width: 767px) {
			position: fixed;
			width: 100%;
			height: 100%;
			top: -110%;
			left: 0;
			background-color: #fff;
			z-index: 2;
			padding: 50px 10px 20px 10px;
			overflow: auto;
			transition: all 0.5s ease 0s;
			//Для того чтобы бургер работал при классе active
			&.active {
				top: 0;
			}
		}
	}

	&__list {
		display: flex;
		justify-content: space-between;
		align-items: center;

		@media (max-width: 767px) {
			display: block; 
		}
	}

	li {
		display: flex;
		text-align: center;
		justify-content: center;
		align-items: center;
	}

	&__link {
		color: #646667;
		font-size: 12px;
		letter-spacing: 1px;
		text-align: center;
		text-transform: uppercase;
		transition: all 0.5s ease 0s;
		position: relative;
		line-height: 28px;
		@media (max-width:992px) {
			font-size: 11px;
		}
		@media (max-width: 767px) {
			font-size: 14px;
			line-height: 40px;
		}
		&:after {
			content: '';
			position: absolute;
			left: 50%;
			width: 0;
			height: 1px;
			background-color: #007397;
			bottom: 0;
			transition: all 0.5s ease 0s;
		}

		&:hover {
			color: #007397;
			&:after {
				left: 0;
				width: 100%;
			}
		}
	}
}

.link-earth {
	display: inline-flex;
	width: 28px;
	height: 28px;
	margin-left: 9px;
	&:hover {
		&:after{
			width: 0;
		}
	}
	@media (max-width:992px) {
		width: 20px;
		height: 20px;
	}
}
/************************************************************
               		 MAIN-BLOCK
************************************************************/
.mainblock {

	&__body {
		margin-bottom: 100px;
		@media (max-width:992px) {
			margin-bottom: 80px;
		}
		@media (max-width: 767px) {
			margin-bottom: 50px;
		}
		
	}
	.blue {
		transition: all 0.3s cubic-bezier(.45,.05,.55,.95) 0s;
		padding: 500px 0;
		content: '';
		position: absolute;
		width: 500px;
		height: 450px;
		left: -700px;
		top: -145px;
		background-image: linear-gradient(198deg, #007397 0%, rgba(0, 115, 151, 0) 100%);
		transform: rotate(18deg);
		z-index: 5;
	}

	&__image {
		padding-bottom: 35.12%;
		display: block;
		position: relative;
		overflow: hidden;
		@media (max-width: 767px) {
			height: 250px;
		}
		h1 {
			position: absolute;
			bottom: 0;
			right: 0;
			text-shadow: 0 3px 1px rgba(0, 0, 0, 0.6);
			color: #ffffff;
			font-family: "PT Serif";
			font-size: 32px;
			font-weight: 700;
			font-style: normal;
			letter-spacing: 1px;
			line-height: 45px;
			text-align: left;
			text-transform: uppercase;
			padding: 0px 0px 90px 0;
			max-width: 770px;
			z-index: 10;
			@media (max-width:1182px) {
				font-size: 28px;
				max-width: 660px;
			}
			@media (max-width:992px) {
				font-size: 24px;
				max-width: 570px;
				padding: 0px 0px 55px 0;
				line-height: 40px;
			}
			@media (max-width: 767px) {
				text-align: center;
				max-width: none;
				padding: 0px 30px 30px 30px;
				font-size: 20px;
				line-height: 30px;
			}
		}

		&:hover {
			.blue {
				transition: all 0.3s cubic-bezier(.45,.05,.55,.95) 0s;
				left: -180px;
				top: -145px;
				background-image: linear-gradient(198deg, #007397 0%, rgba(0, 115, 151, 0) 100%);
				transform: rotate(20deg);
				z-index: 5;
				@media (max-width:1182px) {
					left: -300px;
				}
				@media (max-width:992px) {
					left: -440px;
				}
			}
			
		}
		

	}

	&__subtitle {
		margin: 45px 100px;
		color: #646667;
		font-family: "Montserrat";
		font-size: 20px;
		font-weight: 300;
		font-style: normal;
		letter-spacing: normal;
		line-height: 36px;
		text-align: center;
		@media (max-width:992px) {
			margin: 25px 30px;
			font-size: 18px;
			line-height: 30px;
		}
		@media (max-width: 767px) {
			margin: 20px 15px;
			font-size: 16px;
			line-height: 22px;
		}
	}

	&__button {
		display: block;
		width: 370px;
		background-color: #007397;
		margin: 0 auto;
		@media (max-width: 767px) {
			width: auto;
			max-width: 370px;
		}
	}

	&__btn {
		display: block;
		color: #ffffff;
		font-family: "Montserrat";
		font-size: 16px;
		font-weight: 700;
		font-style: normal;
		letter-spacing: 1px;
		line-height: 16px;
		text-align: center;
		justify-content: center;
		text-transform: uppercase;
		padding: 20px 0;
		@media (max-width:992px) {
			font-size: 14px;
			line-height: 14px;
			padding: 18px 0;
		}
		@media (max-width: 767px) {
			display: flex;
			justify-content: center;
			align-items: center;
			line-height: 16px;

			
		}
		//Дальше делаем ховер с разъездом для кнопки
		position: relative;
		&:after {
			content: '';
			width: 0;
			position: absolute;
			transition: all 0.8s ease 0s;
			height: 100%;
			left: 50%;
			top: 0;
			background-color: #023d74;
		}
		span {
			position: relative;
			z-index: 2;
		}
		&:hover {
			&:after {
				left: 0;
				width: 100%;
			}
		}
		
	}
}

//Бургер меню заготовка------------------------------------------
.icon-menu {
	@media (max-width: 767px) {
		display: block;
		width: 30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		position: absolute;
		right: 20px;
		top: 10px;
		span {
			transition: all 0.3s ease 0s;
			top: 8px;
			left: 0px;
			position: absolute;
			width: 100%; 
			height: 2px; 
			background-color: #4d4959;
			&:first-child {
				top: 0px;
			}
			&:last-child {
				top: auto;
				bottom: 0px;
			}
		}
		&.active {
			span {
				transform: scale(0);
				background-color: #4d4959;
				&:first-child {
					transform: rotate(-45deg);
					top: 8px;
				}
				&:last-child {
					transform: rotate(45deg);
					bottom: 8px;
				}
			}
		}
	}
}
//-----------------------------------------------------------------

/*******************************************************************************
							INVESTOR-BLOCK
*******************************************************************************/

.investor {

	&__body {
		margin: 0px 0px 100px 0px;
		@media (max-width: 767px) {
			margin: 0px 0px 50px 0px;
		}
	}

	&__title {
		padding: 0px 0px 40px 0px;
		@media (max-width: 767px) {
			font-size: 14px;
			line-height: 22px;
			padding: 0px 0px 20px 0px;
		}
	}

	&__subtitle {
		max-width: 670px;
		color: #646667;
		font-family: "Montserrat";
		font-size: 20px;
		font-weight: 300;
		line-height: 36px;
		text-align: left;
		padding: 0px 0px 40px 0px;
		@media (max-width: 767px) {
			font-size: 16px;
			line-height: 22px;
			padding: 0px 0px 20px 0px;
		}
		
	}

	&__stat {
		display: flex;
		justify-content: space-between;
		padding: 0px 0px 80px 0px;
		@media (max-width:992px) {
			padding: 0px 0px 40px 0px;
		}
		@media (max-width: 767px) {
			flex-direction: column;
			padding: 0px 0px 30px 0px;
		}
	}

	&__column {
		@media (max-width:992px) {
			padding: 0px 0px 10px 0px;
		}
	}

	&__button {
		display: block;
		max-width: 270px;
		background-color: #007397;
		left: 0;
		@media (max-width: 767px) {
			margin: 0 auto;
		}
	}

	&__btn {
		display: block;
		color: #ffffff;
		font-family: "Montserrat";
		font-size: 16px;
		font-weight: 700;
		font-style: normal;
		letter-spacing: 1px;
		line-height: 16px;
		text-align: center;
		justify-content: center;
		text-transform: uppercase;
		padding: 20px 0;
		@media (max-width:992px) {
			font-size: 14px;
			line-height: 14px;
			padding: 18px 0;
		}
		@media (max-width: 767px) {
			display: flex;
			justify-content: center;
			align-items: center;
			line-height: 16px;
		}
		//Дальше делаем ховер с разъездом для кнопки
		position: relative;
		&:after {
			content: '';
			width: 0;
			position: absolute;
			transition: all 0.8s ease 0s;
			height: 100%;
			left: 50%;
			top: 0;
			background-color: #023d74;
		}
		span {
			position: relative;
			z-index: 2;
		}
		&:hover {
			&:after {
				left: 0;
				width: 100%;
			}
		}
	}
}

.title {
	color: #3c3f3d;
	font-family: "PT Serif";
	font-size: 32px;
	font-weight: 700;
	letter-spacing: 1px;
	line-height: 48px;
	text-align: left;
	text-transform: uppercase;
}
.column-investor {
	&__item {
		flex: 0 1 20%;
	}

	&__big {
		color: #007397;
		font-family: "PT Serif";
		font-size: 54px;
		font-weight: 400;
		line-height: 54px;
		text-align: center;
		text-transform: uppercase;
		@media (max-width:992px) {
			font-size: 40px;
			line-height: 44px;
		}
	}

	&__small {
		color: #aec3d4;
		font-family: "Montserrat";
		font-size: 16px;
		font-weight: 400;
		line-height: 32px;
		text-align: center;
		@media (max-width:992px) {
			font-size: 14px;
			line-height: 30px;
		}
	}
}

/*******************************************************************************
							NEWS-BLOCK
*******************************************************************************/

.news {

	&__body {
	}

	&__title {
		display: inline-block;
		margin: 0px 0px 50px 0px;
		@media (max-width: 767px) {
			display: block;
			text-align: center;
			margin: 0px 0px 30px 0px;
		}
	}

	&__cards {
	}
}

.menu-news {
	margin: 0px 0px 50px 0px;

	@media (max-width: 767px) {
		margin: 0px 0px 20px 0px;
	}

	&__list {
		display: flex;
		max-width: 370px;
		justify-content: space-between;
		margin-left: auto;
		text-align: center;
		margin-top: -75px;

		@media (max-width: 767px) {
			margin-top: 30px;
			margin: 0 auto;
		}
		
	}

	&__item {
	}

	&__link {
		background-color: #fff;
		color: #d3cfce;
		font-family: "Montserrat";
		font-size: 16px;
		font-weight: 700;
		letter-spacing: 1px;
		line-height: 16px;
		text-align: center;
		text-transform: uppercase;
		transition: all 0.3s cubic-bezier(.45,.05,.55,.95) 0s;
		cursor: pointer;
		&:hover {
			color: #007397;
			transition: all 0.3s cubic-bezier(.45,.05,.55,.95) 0s;
		}
	}
}
.select {
	color: #007397;
}

.cards {

	&__row {
		display: flex;
		margin: 0px 0px 100px 0px;
		@media (max-width: 767px) {
			flex-direction: column;
			align-items: center;
			margin: 0px 0px 50px 0px;
		}
		
	}

	&__item {
		max-width: 370px;
		display: flex;
		flex-direction: column;
		margin: 0 15px;
		&:first-child {
			margin: 0px 15px 0px 0px;
		}
		&:last-child {
			margin: 0px 0px 0px 15px;
		}
		@media (max-width:1182px) {
			max-width: 300px;
		}
		@media (max-width:992px) {
			max-width: 240px;
		}
		@media (max-width: 767px) {
			max-width: 290px;
			margin: 0px 0px 50px 0px;
			&:first-child {
				margin: 0px 0px 50px 0px;
			}
			&:last-child {
				margin: 0px 0px 0px 0px;
			}
		}
		
	}

	&__image {
		padding-bottom: 100%;
		position: relative;
		margin: 0px 0px 30px 0px;
		overflow: hidden;
		@media (max-width: 767px) {
			margin: 0px 0px 20px 0px;
		}
		&:hover {
			.blue-cards {
				transition: all 0.3s cubic-bezier(.45,.05,.55,.95) 0s;
				left: -285px;
				top: -120px;
				background-image: linear-gradient(198deg, #007397 0%, rgba(0, 115, 151, 0) 100%);
				transform: rotate(20deg);
				z-index: 5;
				@media (max-width:1182px) {
					left: -355px;
				}
				@media (max-width:992px) {
					left: -295px;
					top: -450px;
				}
				@media (max-width: 767px) {
					left: -245px;
				}
			}
		}
	}

	&__subtitle {
		position: absolute;
		top: 24px;
		left: 30px;
		color: #ffffff;
		font-family: "Montserrat";
		font-size: 12px;
		font-weight: 700;
		letter-spacing: 0.75px;
		line-height: 16px;
		text-align: left;
		text-transform: uppercase;
		z-index: 6;
		text-shadow: 0px 0px 4px #007397;
	}

	&__title {
		position: absolute;
		/* Style for "increases" */
		color: #ffffff;
		font-family: "Montserrat";
		font-size: 24px;
		font-weight: 700;
		letter-spacing: 1px;
		line-height: 32px;
		text-align: left;
		text-transform: uppercase;
		top: 229px;
		left: 30px;
		z-index: 6;
		@media (max-width:1182px) {
			top: 200px;
			left: 30px;
			font-size: 20px;
			line-height: 30px;
		}
		@media (max-width:992px) {
			top: 130px;
			left: 10px;
			font-size: 18px;
			line-height: 26px;
		}
		@media (max-width: 767px) {
			top: 130px;
			left: 10px;
			font-size: 18px;
			line-height: 26px;
		}
		
	}

	&__text {
		color: #646667;
		font-family: "Montserrat";
		font-size: 16px;
		font-weight: 400;
		line-height: 32px;
		text-align: left;
		margin: 0px 0px 38px 0px;
		flex: 1 1 auto;
		@media (max-width: 767px) {
			margin: 0px 0px 20px 0px;
		}
	}

	&__link {
	}

	&__lnk {
		color: #007397;
		font-family: "Montserrat";
		font-size: 16px;
		font-weight: 700;
		font-style: normal;
		letter-spacing: 1px;
		line-height: 16px;
		text-align: left;
		text-transform: uppercase;
	}
}

//Фильтр
.filterDiv {
	transition: all 0.3s cubic-bezier(.45,.05,.55,.95) 0s;
	display: none;
}

.show {
	display: block;
}

.blue-cards {
	transition: all 0.3s cubic-bezier(.45,.05,.55,.95) 0s;
	padding: 500px 0;
	content: '';
	position: absolute;
	width: 500px;
	height: 450px;
	left: -700px;
	top: -120px;
	background-image: linear-gradient(198deg, #007397 0%, rgba(0, 115, 151, 0) 100%);
	transform: rotate(18deg);
	z-index: 5;
}


/*******************************************************************************
							MAP
*******************************************************************************/

.map {

	&__title {
		margin: 0px 0px 45px 0px;
		@media (max-width: 767px) {
			margin: 0px 0px 20px 0px;
		}
	}

	&__image {
		padding-bottom: 38.29%;
		display: block;
		position: relative;
		margin: 0px 0px 45px 0px;
		@media (max-width: 767px) {
			padding-bottom: 100%;
		}
	}
}


/*******************************************************************************
							FOOTER
*******************************************************************************/

.footer {

	margin: 0px 0px 40px 0px;

	&__row {
		display: flex;
		justify-content: space-between;
		@media (max-width: 550px) {
			flex-direction: column;
			margin: 0 auto;
		}
	}

	&__copy {
		color: #646667;
		font-family: "Montserrat";
		font-size: 12px;
		font-weight: 700;
		letter-spacing: 1px;
		line-height: 40px;
		text-align: left;
		text-transform: uppercase;
		@media (max-width: 550px) {
			text-align: center;
		}
	}

	&__sections {
	}

	&__link {
		color: #646667;
		font-family: "Montserrat";
		font-size: 12px;
		font-weight: 700;
		letter-spacing: 1px;
		line-height: 40px;
		text-align: right;
		text-transform: uppercase;
		margin: 0 17px;
		position: relative;
		display: inline-block;
		@media (max-width: 550px) {
			display: block;
			text-align: center;
			margin: 0 auto;
			max-width: 180px;
		}
		&:after {
			content: '';
			position: absolute;
			left: 50%;
			width: 0;
			height: 1px;
			background-color: #007397;
			bottom: 0;
			transition: all 0.5s ease 0s;
		}
		
		&:hover {
			color: #007397;
			&:after {
				left: 0;
				width: 100%;
			}
		}
	}
}

